@use 'abstracts/variables' as var;
@use 'abstracts/breakpoints' as breakpoints;
@mixin first-btn($bg-color, $text-color) {
    background-color: $bg-color;
    font-size: 21px;
    color: $text-color;
    font-weight: 600;
    font-family: null;
    border-radius: 7px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 25px 33px;
    border: 3px solid var.$color3;
    &:hover {
        cursor: pointer;
        background-color: rgb(0, 190, 202, .5);
    }
    @include media-query(max-width, breakpoints.$medium) {
        font-size: 15px;
        font-weight: 300;
        padding: 15px 20px;
    }
}


/* Media queries */

@mixin media-query($minmax, $breakpoint) {
    $value: map-get(breakpoints.$breakpointsList, $breakpoint);
    @if $value !=null and $minmax !=null {
        @if $minmax==min-width {
            @media (min-width: $value) {
                @content;
            }
        }
        @else {
            @media (max-width: $value) {
                @content;
            }
        }
    }
}

@mixin display_flex($direction, $items, $content) {
    display: flex;
    @if $direction !=null {
        flex-direction: $direction;
    }
    @if $items !=null {
        align-items: $items;
    }
    @if $content !=null {
        justify-content: $content;
    }
}

@mixin text-base($font-size, $text-color, $font-weight, $font-family:var.$font-Heebo, $font-style:normal, $line-height, $position:right) {
    font-size: $font-size;
    color: $text-color;
    font-weight: $font-weight;
    font-family: $font-family;
    font-style: $font-style;
    line-height: $line-height;
    text-align: $position;
}