    /*fonts*/
    
    @font-face {
        font-family: 'Graphik';
        src: url('../fonts/graphik/Graphik-Regular.ttf');
    }
    /* colors */
    
    $color1: #052c71;
    $color2: #154089;
    $color3: #FFFFFF;
    $color4: #97a2d3;
    $color5: #1b1b31;
    $color6: #c7d1ec;
    $color7: #f36b1c;
    $color8: #0a3889;
    $color9: #41455a;
    $color10: #0e163d;
    /* font and typography */
    
    $font-graphik:"Graphik";